Flask==2.3.3
gunicorn==21.2.0
numpy==1.24.4
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.3
tensorflow==2.13.0
keras==2.13.1
joblib==1.3.2
python-dotenv==1.0.1
requests==2.31.0
pywin32==308; sys_platform == 'win32'
pywinpty==2.0.15; sys_platform == 'win32'